.App {
  text-align: center;
  min-height: 100vh;
}

.App.homepage {
  background-image: url(../images/boardwalk-dice.jpg);
  background-position: bottom;
}

.App:not(.homepage) header {
  background-color: var(--secondary-color);
}
