.App {
  text-align: center;
  min-height: 100vh;
  background-image: url(../images/sand.jpg);
  background-size: 100vw;
}

.App.homepage {
  background-image: url(../images/boardwalk-dice.jpg);
  background-size: auto;
  background-position: bottom;
}

.App:not(.homepage) header {
  background-color: var(--secondary-color);
  border-bottom: 3px solid white;
  box-shadow: 0 0 5px var(--secondary-color);
}
