.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.App.homepage {
  background-image: url(../images/boardwalk-dice.jpg);
  background-size: cover;
  background-position: bottom;
}

.App:not(.homepage) header {
  background-color: var(--secondary-color);
  border-bottom: 3px solid white;
  box-shadow: 0 0 5px var(--secondary-color);
}

@media (max-height: 650px) {
  .App.homepage {
    background-image: url(../images/sand.jpg);
    background-size: 100vw;
    background-position: top;
  }

  .App.homepage header {
    background-color: var(--secondary-color);
    border-bottom: 3px solid white;
    box-shadow: 0 0 5px var(--secondary-color);
  }
}
