.cart {
  background-color: white;
  margin: 2rem auto 0;
  box-shadow: 0 0 10px var(--secondary-color);
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.cart > img {
  align-self: stretch;
  min-height: 80vh;
  width: 55vw;
  object-fit: cover;
}

.cart .container {
  min-height: 70vh;
  width: 40vw;
  margin: 1.5rem auto;
  padding: 1rem 0.5rem;
  border: 3px solid var(--background-color);
  border-radius: 0.2rem;
  box-shadow: 0 0 5px var(--secondary-color);
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  justify-items: center;
}

.cart h1 {
  margin: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
}

.cart .empty {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--dark-background-color);
  height: 50vh;
  display: flex;
  align-items: center;
}

.cart table {
  margin: 0 auto;
  border-spacing: 1rem;
}

.cart tfoot {
  height: 2rem;
}

.cart .check-out {
  grid-row: 4;
}

@media (max-width: 1000px) {
  .cart img {
    width: 45vw;
  }

  .cart .container {
    width: 50vw;
  }
}

@media (max-width: 825px) {
  .cart {
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .cart > img {
    width: 100vw;
    min-height: 0;
    height: 35vh;
  }

  .cart .container {
    width: 90vw;
    min-height: 40vh;
  }
}

@media (max-width: 420px) {
  .cart .container {
    width: 95vw;
  }

  .cart table {
    border-spacing: 0.3rem 0.6rem;
  }
}
