.cart .item img {
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
  border-radius: 0.2rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  margin-right: -0.5rem;
}

.cart .item .quantity.field button {
  width: 1rem;
  height: 1rem;
}

.cart .item .quantity.field svg {
  font-size: 0.5rem;
}

.cart .item button.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: darkred;
}

.cart .item button.delete:hover {
  background-color: red;
}

.cart .item button.delete svg {
  font-size: 0.8rem;
}

@media (max-width: 420px) {
  .cart .item img {
    margin-left: 0;
    margin-right: 0;
    width: 2rem;
    height: 2rem;
  }
}
