.cart {
  background-color: white;
  margin: 2rem auto;
  box-shadow: 0 0 10px var(--secondary-color);
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.cart > img {
  height: 100%;
  min-height: 80vh;
  max-width: 55vw;
  object-fit: cover;
}

.cart .container {
  min-height: 70vh;
  width: 40vw;
  margin: auto;
  padding: 1rem 0.5rem;
  border: 3px solid var(--background-color);
  border-radius: 0.2rem;
  box-shadow: 0 0 5px var(--secondary-color);
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  justify-items: center;
}

.cart h1 {
  margin: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cart .empty {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--dark-background-color);
  height: 50vh;
  display: flex;
  align-items: center;
}

.cart table {
  margin: 0 auto;
  border-spacing: 1rem;
}

.cart tfoot {
  height: 2rem;
}

.cart .check-out {
  grid-row: 4;
}
