.home {
  padding: 10vh 0;
  display: flex;
  justify-content: center;
}

.home .container {
  padding: 3rem;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px var(--secondary-color);
}

.home h1 {
  font-size: 4rem;
}

.home h1, .home h2 {
  margin: 0;
}

.home .info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
}

.home .info > * {
  border: 3px solid var(--background-color);
  border-radius: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  box-shadow: 0 0 5px var(--secondary-color);
}

.home .info h3 {
  margin: 0.5rem;
}

.home a {
  font-size: 1.2rem;
  color: var(--secondary-color);
}
