.quantity.field {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.quantity.field .change-buttons {
  display: flex;
  gap: 0.25rem;
}

.quantity.field input.quantity {
  width: 2.5rem;
}

.quantity.field .change-buttons button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity.field .change-buttons svg {
  font-size: 0.75rem;
}

.quantity.field input[type="number"]::-webkit-outer-spin-button,
.quantity.field input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity.field input[type="number"] {
  -moz-appearance: textfield;
}
