.shop h1 {
  background-color: var(--secondary-color);
  margin: 0 auto 1.5rem;
  width: max-content;
  color: white;
  padding: 1rem;
  box-shadow: 0 0 10px var(--secondary-color);
  border: 3px solid white;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.shop .items {
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0 0 5px var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.5rem;
  column-gap: 2rem;
}

.shop .items > * {
  box-shadow: 0 0 5px var(--secondary-color);
  border-radius: 0.2rem;
  border: 1px solid var(--secondary-color);
  padding-bottom: 0.75rem;
}
