.shop h1 {
  background-color: white;
  margin: 0;
  color: black;
  padding: 2rem 1.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.shop .items {
  background-color: white;
  padding: 3.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  column-gap: 2rem;
}

.shop .items > * {
  background-color: white;
  box-shadow: 0 0 5px var(--secondary-color);
  border-radius: 0.2rem;
  padding-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .shop .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .shop h1 {
    justify-content: center;
  }

  .shop .items {
    padding: 2rem 1.5rem;
    row-gap: 3rem;
    column-gap: 1rem;
  }
}

@media (max-width: 530px) {
  .shop .items {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 440px) {
  .shop .items {
    padding: 2rem 1rem;
  }

  .shop h1 {
    font-size: 1.75rem;
  }
}
